@font-face {
    font-display: swap;
    font-weight: 100;
    font-family: 'Yellix';
    src: url('/fonts/Yellix/otf/Yellix-Thing.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Thin.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Thin.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-weight: 200;
    font-family: 'Yellix';
    src: url('/fonts/Yellix/otf/Yellix-Light.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Light.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Light.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Yellix';
    font-weight: 400;
    src: url('/fonts/Yellix/otf/Yellix-Regular.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Regular.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Yellix';
    font-weight: 700;
    src: url('/fonts/Yellix/otf/Yellix-SemiBold.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-SemiBold.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Bold.Semi.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Yellix';
    font-weight: 900;
    src: url('/fonts/Yellix/Yellix-Bold.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Bold.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Bold.woff') format('woff');
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Yellix, sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid_view h2 {
    line-height: 47px;
    margin-bottom: 15px;
}
// .grid_view , .mt-custom {
//     width: 100%;
//     max-width: 70%;
//     margin: auto;
// }
.sm_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem !important;
    margin-bottom: 0.35rem;
}
.mt-custom p {
    font-size: 16px;
}
.mt-custom{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 17px;
}
.mt-custom1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 15px;

}
.grid_view_image>div:first-child {
    height: 800px !important;
    padding-top: 0px;
    object-fit: cover;
}

.grid_view_image>div:first-child img {
    object-fit: cover;
}

// .htmlText h1,  .htmlText h3, .htmlText h4, .htmlText h5, .htmlText h6 {
//     font-size: revert;
//     margin-top: 15px;
//     font: bolder;
//     font-size: 42px;
//     line-height: 28px;

// }
.htmlText {
    padding: 0px 36px;
}
.htmlText h1{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 9px;
    margin-top: 19px;
    line-height: 50px;

}
.htmlText h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 9px;
    margin-top: 19px;
    line-height: 48px;

}
.htmlText h3{
    font-size: 38px;
    margin-bottom: 9px;
    margin-top: 19px;
    line-height: 46px;
    font-weight: bold;

}
.htmlText h4{
    font-size: 36px;
    margin-bottom: 9px;
    margin-top: 19px;
    line-height: 42px;
    font-weight: bold;

}
.htmlText h5{
    font-size: 34px;
    margin-bottom: 9px;
    margin-top: 19px;
    line-height: 42px;
    font-weight: bold;

}
.htmlText h6{
    font-size: 32px;
    margin-bottom: 9px;
    margin-top: 19px;
    line-height: 38px;
        font-weight: bold;

}
.htmlText p{
    line-height: 1.3;
    word-break: break-word;
    margin-bottom: 15px;
} 
.htmlText blockquote , .htmlText ol, .htmlText ul, .htmlText li, .htmlText code{
    all: revert;
}
// .desc-image {
//     width:300px;
//     height: 300px
// }
.htmlText table, .htmlText th, .htmlText td {
    // all: revert;
    margin-top: 15px;
    border: 1px solid;
    width: 25%;
    height: auto;
    text-align: center;
    // margin-left: auto;
    // margin-right: auto;
  }

//   .grid_view div#rich-text-body p {
//     font-size: 29px;
// }
// .grid_head {
//     border-top: 1px solid #c1c1c1;
//     margin: 0px 1.875rem;
//     margin-top: 50px;
// }
.join_us_modal{
    display: none;
}
.header-in-block {
    font-size: 3rem !important;
    line-height: 1 !important;
    font-weight: 400 !important;
    text-transform: none !important;
    text-align: center;
}
.text_wrapper_1 .separator {
    display: none;
}
.text_wrapper_1 {
    position: relative;
    padding-top: 2.5rem;
    padding-bottom: 3rem !important;
}
.grid_head {
    padding: 0px 0.625rem;
    padding-right: 13px;
}
a.back_link {
    position: absolute;
    left: 30px;
    top: 46px;
    z-index: 2;
}

.grid_info_wrapper {
    position: relative;
}
.mobile_link{
    display: none;
}
.stays_grid{
    margin-top: 0px !important;
}
.modal_styling{
    padding: 3rem;
}

.modal_styling.thankyou_msg {
    padding-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
}
button.book_now {
    padding: 0px;
    min-width: 121px;
    height: 48px;
    font-weight: bold;
    bottom: 30px;
}
// modal csss
.modal-content {
    border-radius: 50px;
    background: #fff;
    max-width: 45%;
    padding: 0px 30px;
    width: 100%;
}

.modal-overlay {
    padding-top: 50px;
    overflow: auto;
    scrollbar-width: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background: rgb(0 0 0 / 63%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content .separator {
    display: none;
}
.modal-overlay .slider_wrapper {
margin: 0;
}
// .modal-content div:last-child {
//     padding: 0;
// }
.modal-overlay .swiper {
    margin: 0px;
}
button.cmn_btn {
    min-width: 121px;
    height: 48px;
    font-weight: bold;
    border-radius: 35px;
    border: 1px solid #000;
    transition: ease all .3s;
    -webkit-transition: ease all .3s;
}
button.cmn_btn:hover{
    background:#000;
    color:#fff;
}

button.cmn_btn.floor_plan {
    position: absolute;
    left: 25%;
    bottom: 30px;
    margin-left: 30px;
}

.overview_wrapper {
    position: relative;
    padding-top: 40px;
    // padding-bottom: 80px;
}
.spacing_bt {
    padding-top: 75px;
}

.floor_images_carousal img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: contain;
}
.floor_images_carousal .swiper .swiper-pagination{
    bottom: 0px;
    position: relative;
    padding-top: 15px;
}
.modal_header h4 {
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
   
}
.floor_images_carousal .swiper-slide {
    height: auto;
}
//*************
.modal_header {
    justify-content: space-between;
    margin-bottom: 10px;
}
.modal-content{
    padding-bottom: 30px;
}

.floor_images_carousal  .swiper-pagination-bullet-active {
    background: #000;
}
// 20 - march
.flex.copywrite {
    width: 100%;
    padding-top: 6.5rem;
    justify-content: center;
}
// 29 march
.newsletter_wrapper {
    display: flex;
    gap: 10px;
    width: 100%;
}
.newsletter_wrapper .submit_btn {
    text-align: center;
    padding-top: 6px;
}

.newsletter_wrapper label, .newsletter_wrapper .mobile_input {
    width: 100%;
}
.submit_btn {
    text-align: center;
}

.submit_btn button span {
    display: flex;
    gap: 10px;
}

.submit_btn button {
    height: 2.5rem;
    padding: 0.5rem 1.125rem;
    border-radius: 30px;
    background: #1a1a1a;
    color: white;
    text-transform: uppercase;
    border: 1px solid #1a1a1a;
    font-size: 1rem;
}

.join_us_wrapper .newsletter_wrapper {
    display: block;
}

.join_us_wrapper .mobile_input {
    margin: 15px 0px;
}
// selva css
.captur3d-3d-tour iframe {
    width: 100%;
    height: 100vh;
}
div.selva_wrapper {
    min-height: unset;
    padding-bottom: 0px;
}
.virtual-tour-button{
    padding-bottom: 5rem;
    text-align: center;
}
button.cmn_btn.virtual_tour {
    padding: 0px 20px;
}
.modal-overlay.iframe_modal {
    padding: 0;
}

.modal-overlay.iframe_modal .modal-content {
    padding: 0;
    border-radius: unset;
    max-width: 100%;
    height: 100vh;
}

.modal-overlay.iframe_modal .modal_header {
    position: absolute;
    right: 8px;
}
div.puerto_grids {
    position: relative;
    left: -0.625rem;
    width: calc(100% + 1.25rem);
}
// 4 april 
.home_header .header_wrapper {
    height: 50vh;
    min-height: 22rem;
}

.home_header {
    position: relative;
}
.home_header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgba(0, 0, 0, 0.12);
    z-index: 1;
}
.headertitle {
max-width: 85%;
    margin: auto;
    width: 100%;
    padding: 0px 15px;
}
.subTitle {
    max-width: 640px;
    margin: auto;
    width: 100%;
}
@media(min-width:1921px){
    .modal-content {
        max-width: 50%;
    }
}
@media(max-width:1399px){
    .modal-content {
        max-width: 50%;
    }
}
@media(max-width:1199px){
    .modal-content {
        max-width: 75%;
    }
    .headertitle {
max-width: 90%;
}
 
}
@media(max-width:960px){
  
    button.cmn_btn.floor_plan {
        left: 0%;
    }
    .spacing_bt {
        padding-bottom: 75px;
    }
    a.back_link {
        left: 17px;
        top: 31px;
    }
    .grid_info_wrapper>div {
        padding-top: 60px;
    }
   .grid_info_wrapper .text_wrapper{
        padding-right: 0px;
    }
    .grid_view_image{
        border: 0px !important;
    }
    .stays_wraper{
        border-top: 0.3125rem solid transparent !important;
    }
    .stays_grid {
        position: relative;
        top: -25px;
    }
    .headertitle {
max-width: 95%;
}
  
}

@media(max-width:767px){
    .home_header h1 {
        font-size: 30px;
    }
 
    .modal_styling{
        padding: 10px;
    }
    .modal_styling.thankyou_msg {
        padding-top: 3px;
        padding-bottom: 3rem;;
    }
    .join_us_modal h2 {
        font-size: 21px;
    }
    .join_us_modal{
        margin-bottom: 130px;
    }
    .flex.copywrite {
        padding-top: 2.5rem;
        justify-content: center;
        padding-bottom: 5em;
    }
    

.desktop_link{
    display: none;
    color: #614545;
}
.mobile_link{
    display: block;
    text-align: right;
    padding-right: 15px;
    color: #614545;
}
    .grid_view_image>div:first-child {
        height: 450px !important;
        padding-top: 0px;
        object-fit: cover;
    }
    .header-in-block {
        font-size: 1.75rem !important;
    }
     .border{
        border: 0px 10px;
    }
    .sm_header {
        flex-wrap: wrap;
        justify-content: center;
    }
    .sm_header p{
        width: 100%;
        flex-grow: 1;
        text-align: center;
    }
    .grid_desc, .grid_desc p {
        margin-bottom: 0px !important;
    }
       .headertitle {
max-width: 100%;
}
   
}


@media(max-width:640px){
    .grid_view h2 {
        line-height: 44px;
    }  
    .subTitle {
        max-width: 258px;
    }
}

.text_wrapper_1 .separator {
    display: none;
}

@media(max-width:576px){
    .modal-content {
       max-width:92%;
       width: 100%;
    }
  
    .newsletter_wrapper{
        display: block;
    }
    .mobile_input{
        margin: 15px 0px;

    }
    .submit_btn{
        margin-bottom: 10px;
    }
  
    .swiper-slide .swiper_images, .swiper-slide .swiper_images>div {
        width: 100%;
    }
    .service_slides .spacing_bt {
        padding-left:10px !important;
        padding-right:10px !important;
    }
    .swiper{
        margin-left: 0 !important;
    }
    .mobile_content {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }
}

