@font-face {
    font-display: swap;
    font-weight: 100;
    font-family: 'Yellix';
    src: url('/fonts/Yellix/otf/Yellix-Thing.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Thin.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Thin.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-weight: 200;
    font-family: 'Yellix';
    src: url('/fonts/Yellix/otf/Yellix-Light.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Light.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Light.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Yellix';
    font-weight: 400;
    src: url('/fonts/Yellix/otf/Yellix-Regular.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Regular.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Yellix';
    font-weight: 700;
    src: url('/fonts/Yellix/otf/Yellix-SemiBold.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-SemiBold.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Bold.Semi.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Yellix';
    font-weight: 900;
    src: url('/fonts/Yellix/Yellix-Bold.otf'); /* IE9 Compat Modes */
    src: url('/fonts/Yellix/web/Yellix-Bold.woff2') format('woff2'),
        url('/fonts/Yellix/web/Yellix-Bold.woff') format('woff');
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Yellix, sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid_view h2 {
    line-height: 60px;
}
// .grid_view , .mt-custom {
//     width: 100%;
//     max-width: 70%;
//     margin: auto;
// }
.sm_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem !important;
    margin-bottom: 0.35rem;
}
.mt-custom p {
    font-size: 16px;
}
.mt-custom{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.mt-custom1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 15px;

}
.grid_view_image>div:first-child {
    height: 800px !important;
    padding-top: 0px;
    object-fit: cover;
}

.grid_view_image>div:first-child img {
    object-fit: cover;
}

// .htmlText h1,  .htmlText h3, .htmlText h4, .htmlText h5, .htmlText h6 {
//     font-size: revert;
//     margin-top: 15px;
//     font-weight: revert;
//     font-size: 42px;
//     line-height: 28px;

// }
.htmlText h2{
    font-size: 40px;

}
.htmlText h3{
    font-size: 38px;

}
.htmlText h4{
    font-size: 36px;

}
.htmlText h5{
    font-size: 34px;

}
.htmlText h6{
    font-size: 32px;

}
.htmlText p, .htmlText a{
    line-height: 1.3;
    word-break: break-word;
    margin-bottom: 20px;
} 
.htmlText blockquote , .htmlText ol, .htmlText ul, .htmlText li, .htmlText code{
    all: revert;
}
.htmlText table, .htmlText th, .htmlText td {
    // all: revert;
    margin-top: 15px;
    border: 1px solid;
    width: 25%;
    height: auto;
    text-align: center;
    // margin-left: auto;
    // margin-right: auto;
  }

//   .grid_view div#rich-text-body p {
//     font-size: 29px;
// }
// .grid_head {
//     border-top: 1px solid #c1c1c1;
//     margin: 0px 1.875rem;
//     margin-top: 50px;
// }
a.back_link {
    position: absolute;
    left: 30px;
    top: 46px;
    z-index: 2;
}

.grid_info_wrapper {
    position: relative;
}

@media(max-width:960px){
    a.back_link {
        left: 17px;
        top: 31px;
    }
    .grid_info_wrapper>div {
        padding-top: 60px;
    }
   .grid_info_wrapper .text_wrapper{
        padding-right: 0px;
    }
    .grid_view_image{
        border: 0px !important;
    }
//     .htmlText p, .htmlText a{
//  line-height: 29px;
//     } 
}
@media(max-width:767px){
// { .grid_view,.mt-custom  {
//     max-width: 100%;
//     padding: 0px 20px;
// }
    .grid_view_image>div:first-child {
        height: 450px !important;
        padding-top: 0px;
        object-fit: cover;
    }
     .border{
        border: 0px 10px;
    }
    .sm_header {
        flex-wrap: wrap;
        justify-content: center;
    }
    .sm_header p{
        width: 100%;
        flex-grow: 1;
        text-align: center;
    }
    .grid_desc, .grid_desc p {
        margin-bottom: 0px !important;
    }
}
@media(max-width:640px){
    .grid_view h2 {
        line-height: 44px;
    }  
}